<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Movies</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">
    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="scripts/client.min.js"></script>
    <!-- <script type="text/javascript" src="./client/scripts/client.js"></script> -->

  </head>
  <body>
    <h1 class="jumbotron">Movies!</h1>

    <div class="row">
      <div class="col-md-6 text-center" ng-controller="InputController">
        <input type="text" ng-model="newMovie.title" placeholder="Add a Title">
        <button type="button" ng-click="getOMDB(newMovie)">Search for Movie</button>
      </div>

    <div ng-controller="TwoController">

      <div id='movieinfo'>
        <p> {{ movieObject.data.Title }} </p>
        <p> {{ movieObject.data.Director }} </p>
        <p> {{ movieObject.data.Year }} </p>
        <p> {{ movieObject.data.Plot }} </p>
        <button type="button" ng-click="addFavorite(movieObject)">Add to Favorites</button>
      </div>

      <div class="col-md-6 text-center" id="array" ng-repeat="movie in favoritesArray">
        <p> {{ movie.Title }} </p>
        <p> {{ movie.Director }} </p>
        <p> {{ movie.Year }} </p>
        <p> {{ movie.Plot }} </p>
      </div>

    </div>

  </div>
  </body>
</html>
